<div class="row">
  <div class="col-xs-8 col-xs-push-2 col-sm-6 col-sm-push-3 col-md-4 col-md-push-4 group content">
    <h2>Sign Up</h2>

    <%= form_for resource, url: registration_path(resource_name), html: { novalidate: true, name: "form" } do |f| %>
      <%= render "shared/error_messages", object: resource %>

      <div class="form-group">
        <%= f.label :username %>
        <span class="field_with_errors" ng-messages="form['user[username]'].$error" ng-if="form['user[username]'].$dirty || form['user[username]'].$touched">
          <span class="message" ng-message="required">Username is required</span>
        </span>
        <%= f.text_field :username, autofocus: true, placeholder: "Username", class: "form-control", required: true, "ng-model" => "user.username" %>
      </div>
      
      <div class="form-group">
        <%= f.label :email %>
        <span class="field_with_errors" ng-messages="form['user[email]'].$error" ng-if="form['user[email]'].$dirty || form['user[email]'].$touched">
          <span class="message" ng-message="required">Email is required</span>
          <span class="message" ng-message="email">Not a valid email address</span>
          <span class="message" ng-message="unique">Email already exists</span>
        </span>
        <%= f.email_field :email, placeholder: "Email", class: "form-control", required: true, "ng-model" => "user.email", email: true, unique: true %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <span class="field_with_errors" ng-messages="form['user[password]'].$error" ng-if="form['user[password]'].$dirty || form['user[password]'].$touched">
          <span class="message" ng-message="required">Password is required</span>
          <span class="message" ng-message="minlength">Password must be at least 6 chatacters</span>
        </span>
        <%= f.password_field :password, placeholder: "Password", autocomplete: "off", class: "form-control", "ng-model" => "user.password", required: true, "ng-minlength" => 6 %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <span class="field_with_errors" ng-messages="form['user[password_confirmation]'].$error" ng-if="form['user[password_confirmation]'].$dirty || form['user[password_confirmation]'].$touched">
          <span class="message" ng-message="confirm">Password confirmation is not match</span>
        </span>
        <%= f.password_field :password_confirmation, placeholder: "Confirm password", autocomplete: "off", class: "form-control", "ng-model" => "user.password_confirmation", confirm: "user.password" %>
      </div>

      <div class="form-group">
        <%= f.submit "Sign Up", class: "btn btn-extend btn-danger", "ng-disabled" => "form.$invalid" %>
      </div>
    <% end %>

    <hr />
    <ul id="signin-with">
      <li><a href="/auth/facebook" class="btn btn-extend btn-primary"><i class="fa fa-lg fa-facebook pull-left"></i> Facebook</a></li>
      <li><a href="/auth/twitter" class="btn btn-extend btn-primary"><i class="fa fa-lg fa-twitter pull-left"></i> Twitter</a></li>
    </ul>
  </div>
</div>
