<!DOCTYPE html>
<html>
<head>
  <title>Showcase</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/header" %>
<div id="container">
  <%= render "layouts/flash" %>
  <%= yield %>
</div>
<div id="footer">
  
</div>
</body>
</html>
